In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy import inspect

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,country_region,lifetime_risk_maternal_death,pregnant_women_receiving_prenatal_care,prevalence_of_anemia_among_pregnant_women
0,Afghanistan,6.0,36.0,39
1,Albania,0.0,95.0,24
2,Algeria,0.0,83.0,37
3,American Samoa,NaN,NaN,0
4,Andorra,NaN,NaN,20

In [3]:
maternal_data = data.fillna(0)
maternal_data.head(5)

,country_region,lifetime_risk_maternal_death,pregnant_women_receiving_prenatal_care,prevalence_of_anemia_among_pregnant_women
0,Afghanistan,6.0,36.0,39
1,Albania,0.0,95.0,24
2,Algeria,0.0,83.0,37
3,American Samoa,0.0,0.0,0
4,Andorra,0.0,0.0,20

In [4]:
maternal_data.to_csv("maternal_data.csv")

In [5]:
maternal_stats = pd.read_csv("maternal_data.csv")

In [7]:
engine = create_engine("sqlite:///maternal_health.sqlite")

In [8]:
class Maternal_Stats(Base):
    __tablename__ = "maternal_stats"
    id = Column(Integer, primary_key = True)
    country_region = Column(String)
    lifetime_risk_maternal_death = Column(Integer)
    pregnant_women_receiving_prenatal_care = Column(Integer)
    prevalence_of_anemia_among_pregnant_women = Column(Integer)

In [9]:
conn = engine.connect()
Base.metadata.create_all(engine)

In [10]:
maternal_table = maternal_stats.to_dict("records")
conn.execute(Maternal_Stats.__table__.delete())
conn.execute(Maternal_Stats.__table__.insert(), maternal_table)

In [11]:
engine.execute("SELECT * from maternal_stats LIMIT 15").fetchall()

[(1, 'Afghanistan', 6, 36, 39),
 (2, 'Albania', 0, 95, 24),
 (3, 'Algeria', 0, 83, 37),
 (4, 'American Samoa', 0, 0, 0),
 (5, 'Andorra', 0, 0, 20),
 (6, 'Angola', 5, 73, 53),
 (7, 'Antigua and Barbuda', 0, 98, 27),
 (8, 'Arab World', 1, 65, 38),
 (9, 'Argentina', 0, 98, 28),
 (10, 'Armenia', 0, 95, 26),
 (11, 'Aruba', 0, 0, 0),
 (12, 'Australia', 0, 98, 20),
 (13, 'Austria', 0, 0, 24),
 (14, 'Azerbaijan', 0, 71, 35),
 (15, 'Bahamas, The', 0, 96, 28)]